@import "varible"

footer
  position: relative
  width: 100%
  overflow: hidden
.footer
  position: relative
  .container
    padding: 5% 0
    border-top: 1px solid $comment-border
    border-bottom: 1px solid $comment-border
    &:after
      content: ''
      background: url("../images/orange_background.svg") no-repeat
      display: block
      width: 452px
      height: 314px
      position: absolute
      bottom: 0
      left: -245px
      @media (max-width: 543px)
        left: -350px
    @media (max-width: 543px)
      padding: 5%
    .menu-footer-heading
      @media (max-width: 543px)
        margin-top: 5%
.footer-nav
  line-height: 35px
  flex-wrap: wrap
  @media (max-width: 543px)
    line-height: 23px
    padding-left: 10px
    margin-bottom: 5%
  li
    padding: 0
  .nav
    .fa
      margin-right: 10px
.footer-contacts
  address
    @media (max-width: 543px)
      line-height: 14px
      margin: 1rem 0
    p
      color: #3e4146
      font-size: 14px
.footer-newsletter
  @media (max-width: 543px)
    margin-bottom: 15%
  .input-group
    input
      font-size: 12px
      line-height: 28px
    span
      background: #29c2e1
      border-color: #29c2e1
      line-height: 17px

.subfooter
  .row
    padding: 1.5% 0 5% 0
  &:after
    content: ''
    background: url("../images/blue_background.svg") no-repeat
    display: block
    width: 452px
    height: 314px
    position: absolute
    right: -185px
    bottom: 0
    @media (max-width: 543px)
      right: -310px
